/* TO GET AN IDEA OF THE CSS YOU WILL LIKELY BE USING, SEE THE LISTS BELOW. */

        /* 
        
        Spacing 

            - padding (shorthand and/or specific properties like padding-bottom, etc.)

            - margin, (shorthand and/or specific properties like margin-top, etc.)

            - letter-spacing, word-spacing, line-height

            - width, max-width, min-width
            - height, max-height, min-height

        Typography 

            - font-family, font-size, font-style, font-weight

            - text-decoration, text-align

            - color

            - text-shadow, text-transform

        Box, Layout and Border 

            - border (shorthand and/or specific properties like border-top, border-bottom-radius, border-width, etc.)

            - box-shadow

            - display, float, align-items, align-content

            - grid-template-columns, grid-column-gap

            - transform

        Other

            - :nth()-child (to target specific child elements)

            - :focus, :hover, :active (to target link states)

            - @font-face or @import (to import typefaces)

        */


/* ------ START WRITING YOUR CODE BELOW ------ */


@font-face{
    font-family: "ultra";
    src: url('../fonts/serif/ultra-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face
{
    font-family: roboto;
    src: url('../fonts/sans-serif/roboto-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: lato;
    src: url('../fonts/sans-serif/lato-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "roz";
    src: url('../fonts/serif/rozhaone-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* Typography*/

p{
    font-family: roboto, Arial, sans-serif;
}
hq, h2, h3, h4 {
    font-family: lato, HarvestItal,sans-serif;
    letter-spacing: 0.0325rem;
}
aside h3 {
    font-size: 1rem;
}

aside p {
    font-size: .65rem;
}

h1 {
    font-size: 3rem;
    letter-spacing: 0.25rem;
    transform: rotate(-4deg);
    text-shadow: 1px 1px 2px #1f315a;
    color: #00837b
}

.link {
    text-align: right;
    text-decoration: none;
}

.highlight {
    display: inline-block;
    font-family: ultra, Georgia, serif;
    font-size: 3.25rem;
    text-transform: uppercase;
    text-shadow: 3px 1px 5px #1f315a;
    letter-spacing: 0.25rem;
    border: 1px solid black;
    padding: 1rem 2rem;
    border-radius: 0.5rem;
    border-top-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    color: #8a7333;
    background-color: #732C2C;
    box-shadow: 5px 5px 4px -1px #888;
}


/* General Setup and Defaults*/
*{
    box-sizing: border-box;
}

html {
    font-size: 14px;
}

body {
    margin: 1.5rem auto;
    width: 80%;
    min-width: 56.25rem;
    background: #e9c9b6;
}


/* Layout */
header{
    padding: 0.5rem 0rem 1rem 0rem;
}
nav{
    margin-top: 5rem;
}



.main-section{
    display: grid;
    grid-template-columns: 6fr 2fr;
    grid-gap: 1rem;
}

article{
    grid-column: 1 / 2;
    grid-row: 1;
}

aside{
    grid-column: 2 / 3;
    grid-row: 1;
    border-left: 1px solid #333438;
    padding-left: 0.75rem;

}

aside p{
    border-bottom: 1px solid #333438;
    padding-bottom: 1.5rem;
}

.subsection{
    display: flex;
}

/* Images and Figures*/

img{
    width: 100%;
}
figure{
    margin: 0px;
}
.article-image {
    width: 40%;
    float: left;
    margin-right: 0.35rem;
}
.subsection{
    margin: 1rem 0rem;
}

    .subsection figure {
        margin: 0rem 0.25rem;
        background-color: #D9A273;
        font-family: roz, Arial, Helvetica, sans-serif;
        color: rgb(255, 255, 255);
    }

.subsection figure figcaption{
    padding: 0.5rem 0.5rem;


}
/* Links and Navigation*/

a{
    text-decoration: none;

}

nav a {
    display: inline-block; 
    padding: 1.25rem 2rem;
    font-size: 1.5rem;
    font-family: lato, Arial, sans-serif;
    color: #ff6a00;
    text-decoration: none;
    border: 0.0625rem none #33658A;
}
nav {
    border-top: 1px solid #333438;
    border-bottom: 1px solid #333438;
    margin-bottom: .75rem;
}

    nav a:active, a:focus, a:hover {
        color: #732C2C !important;
        transform: rotate(6deg);
    }

    nav a:link, a:visited {
        color: #33658A;
        text-decoration: none;
    }
footer {
    
    display: table-footer-group; 
 
    color: #732C2C;
}

    footer a:active, :link, a:visited, a:focus, a:hover {
        color: #8a7333;
        text-decoration: none;
        text-transform: none;
        text-decoration: none;
    }

button {
    display: inline-block;
    font-family: ultra, georgia, sans-serif;
    font-size: 1.33rem;
    text-transform: uppercase;
    text-shadow: 3px 1px 5px #1f315a;
    margin: 2.25rem 0rem;
    border: 1px solid black;
    padding: 1rem 1rem;
    border-radius: 0.3rem;
    border-top-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    color: #8a7333;
    background-color: #732C2C;
    box-shadow: 5px 5px 4px -1px #888;
}